.nav2Cont{
    background: #FFF;
    box-shadow: 1px 1px 12px 0 rgba(51, 51, 51, 0.10);
    padding:  32px 72px 32px 72px;
    box-sizing: border-box;
}
.nav2Cont ul{
    display: flex;
    gap: 30px;
    font-weight: 600 ;
}