.heroBtn{
    display: flex;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
background: #1858A8;
color: #FFF;
font-style: normal;
font-weight: 600;
line-height: 14px;
border: none;
outline: none;
box-sizing: border-box;
}
.heroBtn:hover{
    background: #032D62;
    cursor: pointer;
}