/* footer */

footer {
    background-color: #1D3766;
}

.footerbg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footerBgTop img {
    width: 210px;
}

.footerBgBottom img {
    width: 210px;
}

.footerBgTop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footerBgBottom {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.footerCont {
    display: flex;
    flex-direction: column;
    padding: 0 160px;
    width: 100%;
}

.footerContTop {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 70px;
    border-bottom: 1px solid #004A88;
}

.footeritems {
    display: flex;
    align-items: flex-start;
    gap: 70px;
}

.footerItemsCol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.footerApps {
    display: flex;
    gap: 30px;
    align-items: center;
}

.footerContBottom {
    display: flex;
    justify-content: end;
    padding-top: 24px;
    gap: 160px;
}

.footerItemsBottom {
    display: flex;
    gap: 34px;
    align-items: center;
}

.footerSocials {
    display: flex;
    gap: 15px;
}

.storeStyle:hover {
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, .35);
}



/* footer */