* {
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

/* textstyles */

h1 {
    font-size: 38px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-family: 12px;
}

p {
    font-size: 14px;
}

/* textstyles */

/* HEROCONTENT */
.secCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}
.heroCont{
    width: 100%;
    height: 628px;
    background: url('../assets/hero.jpg') no-repeat center center;
    background-size: cover;
}
.heroCont h1{
    color: #FFF;
font-weight: 700;
}
/* HEROCONTENT */
