* {
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}
body{
    background: #FAFAFA;
}
/* textstyles */

h1 {
    font-size: 38px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-family: 12px;
}

p {
    font-size: 14px;
}

/* textstyles */

/*GENERAL STYLES */
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover{
    opacity: 0.8;
}

/* HEROCONTENT */
.secCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.heroCont{
    width: 100%;
    background: url('../assets/hero.jpg') no-repeat center center;
    background-size: cover;
    padding: 250px 0 198px 72px;
    box-sizing: border-box;
}
.heroCont h1{
    color: #FFF;
    font-weight: 700;
    margin-bottom: 28px;
}
.heroCont p{
    color: #FFF;
    font-weight: 300;
    font-size: 24px;
    max-width: 432px;
    margin-bottom: 36px;
}
/* HEROCONTENT */

/* section1 */

.secStyle {
    padding: 75px 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.secWhiteBg {
    background-color: white;
}

.titleCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.titleCont h2 {
    color: #333;
    font-weight: 400;
}

.secCards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* section1 */
