* {
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

/* textstyles */

h1 {
    font-size: 38px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-family: 12px;
}

p {
    font-size: 14px;
}

/* textstyles */
