.sec2card {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 25%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.sec2cardCTA {
    width: 100%;
    background: #FAFAFA;
    padding: 10px 20px;
}

.sec2cardCTA p {
    text-decoration-line: underline;
    text-decoration-skip-ink: auto;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    font-weight: 400;
}