/* footer */

footer {
    background-color: #1D3766;
}

.footerbg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footerBgTop img {
    width: 210px;
}

.footerBgBottom img {
    width: 210px;
}

.footerBgTop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footerBgBottom {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.footerCont {
    padding: 0 160px;
    width: 100%;
}

.footerContTop {
    border-bottom: 1px solid #004A88;
}

/* footer */