header {
    width: 100%;
    background-color: #032D62;
    padding: 17px 158px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header p {
    color: white;
    font-weight: 600;
}

.navbar {
    display: flex;
    gap: 34px;
}