.sec1card {
    background: #FFF;
    border-radius: 6px;
    border-top: 1px solid rgba(231, 231, 231, 0.60);
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.10);
    padding: 30px 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    transition: all 200ms;
}

.sec1card h3 {
    color: #1858A8;
    font-weight: 700;
}

.sec1card:hover {
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, .35);
}